/* CSS Document */


/****************导航子菜单属性************************/
.navL
{  
background-color:#e5eecc;
border:solid 1px #c3c3c3;
display:none;
line-height:20px;
}
/*
 margin:0px;
	width:10%;
	height:100px;
padding:0px;
text-align:center;
*/